set -a
UNITTEST_GCP_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=
UNITTEST_OID_ISSUER_URL=
UNITTEST_OID_AUDIENCE=
UNITTEST_OIDP_CLIENT=
UNITTEST_OIDP_CLIENT_CRED=
UNITTEST_REDIS_HOST=127.0.0.1
UNITTEST_REDIS_PORT=6379
UNITTEST_REDIS_DB=1
UNITTEST_S3_ENDPOINT=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
set +a
