image: golang:1.25.5

stages:
  - test

cicd:
  stage: test
  variables:
    UNITTEST_GCP_PROJECT_ID: cicd-389504
    GOOGLE_APPLICATION_CREDENTIALS: .secure_files/gcp-cicd-pubsub-sa-creds.json
    GOOGLE_EXTERNAL_ACCOUNT_ALLOW_EXECUTABLES: "1"
    UNITTEST_OID_ISSUER_URL: https://dev-kry4zc635rswwzkm.us.auth0.com
    UNITTEST_OID_AUDIENCE: http://ut.goutils.hcm.org
  script:
    - curl --silent "https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/download-secure-files/-/raw/main/installer" | bash
    - go fmt $(go list ./...)
    - go vet $(go list ./...)
    - go test ./...
